{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Portofolio</h1>
<hr/>
<section name="bio">
	 <a href="https://linkedin.com/in/altariqh" target="_blank">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAwyAAAAJDhlMzVhNTQzLTRhYTYtNGYxNi1iNzkzLTc0Y2ZiYmRhN2FlZg.jpg" style="border-radius: 50%; display: block; margin: 0 auto"  width="200px" height="200px">
    </a>

	<h2>Bio</h2>
	<p>
		{{content}}
	</p>    
</section>
<hr/>
<section name="about_me">
	<h2>About me</h2>
	<ul>
		{% for ii in about_me %}
		<li> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
<hr/>
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
{% endblock %}
